{* This is the welcome page, you can delete it *}

{block content}

<h1 style="display: block; margin-top: 150px; font-size: 50px; font-weight: bold; text-align: center;">Ahoj Jirko. Tento text můžeš libovolně měnit.</h1>

<br /><br /><br />

<p>Dobrá, tak tedy testuji... :)</p>

<br /><br /><br />

<div style="text-align: center;">
    
    <img src="{$basePath}/userfiles/sweet.png" />

    <p>Počet záznamů v databázi: <b>{count($users)}</b>aaa</p>

    <table style="margin: auto;">
        <tr>
            <th>
                Jméno:
            </th>
            <th>
                Příjmení
            </th>
        </tr>
        <tr n:foreach="$users as $usera">
            <td>
                {$usera->name}
            </td>
            <td>
                {$usera->email}
            </td>
        </tr>
    </table>
</div>
{/block}